.story-card {
  max-width: 275px;
  min-width: 275px;
  max-height: 250px;
  min-height: 250px;
  float:left;
  margin-left:2%;
  margin-top: 1%;
  background-color: #17cc72;
}

.card-body {
  background-color: #f1fffe;
}

.a {
  display: block !important;
  font-size: large !important;
}

mat-card img{
  height: 100px !important;
}

.avatar-image {
  /*background-image: url('../../../assets//profile-pic.png');*/
  background-image: url('../../../assets/hackernoon-logo.jpg');
  background-size: cover;
}

.bootstrap-paginator {
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}
