<div style="margin-top: 5.5%; z-index: -2; margin-left: 1.5%">
  <h3 style="margin-left: 1%">Hacker Noon Story News Feed</h3>
  <mat-form-field>
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Title Search"
      [formControl]="wildCardSearch"
    />
  </mat-form-field>
  <mat-form-field style="margin-left: 3em">
    <input
      matInput
      (keyup)="applyFilter($event.target.value)"
      placeholder="Author Search"
      [formControl]="wildCardSearch"
    />
  </mat-form-field>
  <mat-card
    *ngIf="isLoading"
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: transparent !important;
    "
  >
    <mat-progress-spinner color="primary" mode="indeterminate">
    </mat-progress-spinner>
  </mat-card>
  <div [hidden]="isLoading" class="card text-center m-3">
    <div class="card-container">
      <mat-grid-list cols="5" rowHeight="5:1">
        <div *ngFor="let item of pageOfItems">
          <div class="story-card card-shadow">
            <mat-card class="story-card">
              <mat-card-header>
                <mat-card-title
                  style="display: flex; align-content: center"
                  (click)="openDialog(item.id)"
                  >{{ item.title }}</mat-card-title
                >
                <mat-card-subtitle (click)="openDialog(item.id)"
                  >By: {{ item.by }}</mat-card-subtitle
                >
              </mat-card-header>
              <mat-card-content class="url-link">
                <a class="mat-card-url" href="{{ item.url }}" target="_blank">
                  Follow Link
                </a>
              </mat-card-content>
            </mat-card>
          </div>
        </div>
      </mat-grid-list>
    </div>
    <div class="bootstrap-paginator">
      <div class="card-footer pb-0 pt-3">
        <jw-pagination
          [items]="stories"
          (changePage)="onChangePage($event)"
        ></jw-pagination>
      </div>
    </div>
  </div>
</div>
