
.mat-header-row {
  background-color: #4db652;
  background: repeating-linear-gradient(#4db652, #8bc34a);
  -moz-box-shadow: 3px 2px 5px #8bc34a;
  -webkit-box-shadow: inset 3px 2px 5px #8bc34a;
  box-shadow: inset 2px 2px 2px 1px #8bc34a;
  -moz-box-shadow: 6px 2px 5px #8bc34a;
  -webkit-box-shadow: inset 2px 2px 5px #8bc34a;
  box-shadow: inset 4px 2px 2px -1px #8bc34a;
}

.input {
  background-color: aliceblue;
}

.mat-row:nth-child(even) {
  background-color: #e0f2f1;
}

.mat-row:nth-child(odd) {
  background-color: white;
}

th.mat-sort-header-sorted{
  color:black;
}

.mat-table {
  overflow: scroll;
  max-width: 90% !important;
}

.button-row button {
  display: table-cell;
  margin-right: 10px;
  margin-left: 15px;
}

.mat-cell,
.mat-header-cell {
  word-wrap: initial;
  display: table-cell;
  padding: 0px 5px;
  line-break: unset;
  min-width: 10%;
  max-width: 15%;
  white-space: pre-wrap;
  overflow: auto;
  vertical-align: middle;
  font-size: 14px !important;
}

.mat-row,
.mat-header-row {
  display: table-row;
}

.paginator {
  font-weight: bold;
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  text-align: center;
}

.span.mat-option-text {
  color: lightgreen !important;
}

.mat-primary .mat-option.mat-selected:not(.mat-option-disabled) {
  color: lightgreen !important;
}
