<div style ="margin-top: 5.5%; z-index: -2; margin-left: 1.5%;">
  <h3>
      Hacker Noon Story News Feed
  </h3>

<mat-form-field>
  <input matInput class="input-field" (keyup)="applyFilter($event.target.value)" placeholder="Search Stories">
</mat-form-field>

<div style="margin-top: 1%;">
  <table mat-table [dataSource]="dataSource" matSort class="mat-elevation-z8">
    <!-- Id Column -->
    <ng-container matColumnDef="by">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Author </th>
      <td mat-cell *matCellDef="let element"> {{element.by}} </td>
    </ng-container>

    <!-- Id Column -->
    <ng-container matColumnDef="title">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Title </th>
      <td mat-cell *matCellDef="let element"> {{element.title}} </td>
    </ng-container>

    <!-- Name Column -->
    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef mat-sort-header> Url </th>
      <td mat-cell *matCellDef="let element"> {{element.url}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>
</div>
<mat-paginator class="paginator" [pageSizeOptions]="[5, 10, 20]"></mat-paginator>

</div>
