<div>
  <h3>{{title}}</h3>
</div>
<div>
  <ul class="list-group">
    <li class="list-group-item">Author: {{story.by}}</li>
    <li class="list-group-item">Descendants: {{story.descendants}}</li>
    <li class="list-group-item">Id: {{story.id}}</li>
    <li class="list-group-item">Kids: {{story.kids}}</li>
    <li class="list-group-item">Score: {{story.score}}</li>
    <li class="list-group-item">Time: {{story.time}}</li>
    <li class="list-group-item">Title: {{story.title}}</li>
    <li class="list-group-item">Type: {{story.type}}</li>
    <li class="list-group-item">
      <a href="{{story.url}}" target="_blank">Url: {{story.url}} </a>
    </li>
  </ul>
</div>
