.header-span {
  height: 70px;
  width: 100%;
  background-color: #4ac380;
  background: linear-gradient(#4ac380, #4db6ac);
  overflow: unset;
  position: absolute;
  z-index: 1;
  top: 0;
}

.mat-menu-buttons {
  float: right;
  color: rgb(6, 0, 14);
  background-color: rgba(240, 240, 240, 0.05);
  height: 70px;
  margin-top: 2.5px;
}

.mat-button {
  font-family: "museo-sans", sans-serif;
  font-weight: 500;
  font-size: 14px;
  height: 70px;
}

.mat-focus-indicator {
  outline: 0;
}

.button-shadow {
  height: 65px !important;
  float: right;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.12), 0 1px 1px rgba(0, 71, 42, 0.24);
  transition: all 0.3s cubic-bezier(0.25, 0.8, 0.25, 1);
}

.button-shadow:hover {
  box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
}

.logo {
  float: left;
  margin-top: 0.5%;
  margin-left: 1.5%;
  height: 50px;
}
