<span class="header-span">
  <img
    mat-button
    class="logo"
    src="../../../assets/nextech-logo.svg"
    alt="NexTech Logo"
  />
  <div class="menu-item">
    <span class="mat-menu-buttons">
      <div class="button-shadow">
        <button mat-button routerLink="stories" routerLinkActive="active">
          Story Table
        </button>
      </div>
      <div class="button-shadow">
        <button mat-button routerLink="story-cards" routerLinkActive="active">
          Story Cards
        </button>
      </div>
      <!-- <div class="button-shadow">
        <button mat-button routerLink="comments" routerLinkActive="active">
          Comments Table
        </button>
      </div> -->
      <!-- <div class="button-shadow">
        <button mat-button routerLink="story-comments-tree" routerLinkActive="active">
          Comments Tree
        </button>
      </div> -->
    </span>
  </div>
</span>
