
<div class="topHeader">
  <mat-sidenav-container>
    <mat-sidenav #sidenav mode="side">
      Sidenav content
    </mat-sidenav>
    <mat-sidenav-content>
      <span>
        <img mat-button
        class="logo"
        src="../../../assets/nextech-logo.svg"
        alt="TV Logo" />
      <div class="menu-item">
        <button mat-button [matMenuTriggerFor]="aboveMenu">Story Feed</button>
        <mat-menu #aboveMenu="matMenu" yPosition="above">
          <button mat-menu-item routerLink="stories" routerLinkActive="active">As Table</button>
          <button mat-menu-item routerLink="story-cards" routerLinkActive="active">As Cards</button>
        </mat-menu>
      </div>
      </span>
    </mat-sidenav-content>
  </mat-sidenav-container>
</div>
