/* You can add global styles to this file, and also import other style files */

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.mat-focused .mat-form-field-label {
  color: #4db652 !important;
}

.mat-form-field-underline {
  background-color: #4db652 !important;
}

.mat-form-field-empty.mat-form-field-label {
  color: #4db652 !important;
  font-size: 14px;
}
